.card-header{
    .header-title{
        width: 380px;
        margin-right: 300px;
    }
    .left-group{
        margin-right: 100px;
    }
    .search-btn {
        margin-right: 20px;
    }
}